* {
    margin: 0;
    padding: 0;
}
:root {
    --cor-primaria:#2714ff;
    --cor-secundaria: #ebff14;

}

html { min-height: 100%;}
.principal {
    position: fixed;
    top: 0;
    left: 0;
    user-select: none;

}
body {
    /*background-image: linear-gradient(to right, var(--cor-primaria), #1ab694);*/
    background-image: url("https://img.freepik.com/fotos-premium/retrato-de-vaca-holandesa-em-estilo-vintage_420555-98.jpg?w=740");
    text-align: center;
    color: black;
    background-repeat: no-repeat;
    background-size: cover;

}
.man {
    width: 70%;
    border: 2px solid rgb(255, 255, 255);
    padding: 8%;
    border-radius: 3%;
    margin-top: 10%;
    margin-left: 6%;
    background-color: rgb(250, 250, 250);
    color: rgb(0, 0, 0);
    height: 100%;
    opacity: 0.9;

    
}

input {
    text-decoration: none;
    text-align: center;
    margin-top: 0%;
    outline: none;
    width: 55%;
    color:rgb(2, 2, 2);
    background-color: rgb(250, 250, 250);
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid black 2px;
    font-size: 30px;
}

p {
    padding: 5%;
    background-color:  #0d86d6;
    margin-top: 0%;
    color: rgb(255, 253, 253);
    border: solid rgb(9, 48, 73) 0px;
    font-size: 30px;
}

button {
    margin-top: 50%;
    margin-bottom: 10%;
    color: rgb(252, 252, 252);
    padding: 6%;
    border: solid rgb(10, 147, 231) 0px;
    border-radius:0% 4% 0% 4%;
    width: 40%;
    background-color:  #1ab694;
    font-size: 20px;


    
}
button:hover {
    margin-top: 50%;
    margin-bottom: 10%;
    color: rgb(252, 252, 252);
    padding: 6%;
    border: solid rgb(10, 147, 231) 0px;
    border-radius:0% 4% 0% 4%;
    width: 44%;
    background-color: #d013d6;
    font-size: 20px;


  
}

nav {
    border: solid white 0;
    border-radius:4%;
    margin-left: 17%;
    padding: 4.6%;
    margin-top:-2%;
    margin-bottom: 8%;
    width: 100%;




}
li {
   
    float: left;
    text-align: center;
    border: solid white 1%;
    border-radius: 0%;
    text-decoration: none;
    list-style-type: none;
    background-color: rgb(255, 255, 255);
    padding: 2%;
    width: 15%;
    color: rgb(0, 0, 0);

    
}
h1 {
    margin-bottom: 1%;
}
li:hover {
   
    float: left;
    text-align: center;
    border: solid white 1%;
    border-radius: 0%;
    text-decoration: none;
    list-style-type: none;
    background-color: #1ab694;
    padding: 2%;
    color: rgb(255, 252, 252);
    
}
.ativo {
   
    float: left;
    text-align: center;
    border: solid white 1%;
    border-radius: 0%;
    text-decoration: none;
    list-style-type: none;
    background-color: #1ab694;
    padding: 2%;
    color: rgb(255, 255, 255);

    
}
.ativo:hover {
   
    float: left;
    text-align: center;
    border: solid white 1%;
    border-radius: 0%;
    text-decoration: none;
    list-style-type: none;
    background-color: #b61aa9;
    padding: 2%;
    color: rgb(255, 255, 255);

    
}
a {
    text-decoration: none;

    
}
a:hover {
    text-decoration: none;
    color: white;
    
}

